@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 231, 235;   /* Light gray for dark mode foreground */
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f172a;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.custom-text {
  color: #059669;
}

.blog-titles {
  color: #059669;
  font-weight: bold;
}


.postCard {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.3), 0 1px 2px -1px rgb(0 0 0 / 0.3);
  border-radius: 14px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition-duration: 200ms;
  background: #1e293b;
}

.postCard:hover {
  background: #334155;
}

/* Typography */
h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

/* blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: initial;
} */

/* Lists */
ul {
  list-style: initial;
  list-style-position: inside;
  list-style-type: none;
}

ol {
  list-style: decimal;
  margin: initial;
  padding: initial;
  list-style-position: inherit;
}

/* global.css */
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: revert; /* or use specific values if you prefer */
}


ul::marker, ol::marker {
  all: unset !important;
}

.main-container {
  flex: 1;
}

.pdf-container {
  width: 100%;
  height: 100vh; 
}
