@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 55, 65, 81;      /* Dark grayish-blue for foreground */
  --background-start-rgb: 245, 236, 205; 
  --background-end-rgb: 255, 255, 255;    /* White for background end */
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

